@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Page";
}
<h4>Contact</h4>

<p>&nbsp;</p>
<h3>
    <strong>IUB Library</strong>
</h3>
<p>
    Phone: 880-2-8431790, 8431645-52, 8432065-76; Ext.: 2010 - 2016 <br />
    Fax: 880-2-8431991 <br />
    mail : <a href="https://lib.iub.edu.bd/" target="_blank">library@iub.edu.bd</a>
</p>
<p>&nbsp;</p>


<h3>
    <strong>IUB Library Head</strong>
</h3>

<p>
    <span style="font-size:10px">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">
            <img src="~/Images/Chowdhury.jpeg" style="float:left" width="100" height="100" />

        </span>

    </span>
</p>
<div>
    <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">

        <strong> &nbsp; Mr. M. Hossam Haider Chowdhury  </strong> <br />
        &nbsp; MA in Library Science (DU) <br />
        &nbsp; Librarian & Library Head <br />
        &nbsp;  E-mail:  <a href="mhhc@iub.edu.bd" target="_blank">mhhc@iub.edu.bd;</a> Phone Ext. 2010

    </span>
</div>

<p>&nbsp;</p>
<h3>
    <strong>Other Professional Library Staffs</strong>
</h3>

<p>&nbsp;</p>
<p>
    <span style="font-size:10px">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">
            <img src="~/Images/khurshid.jpg" style="float:left" width="100" height="100" />

        </span>

    </span>
</p>
<div>
    <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">

        <strong>&nbsp; Ms. Khurshid Jahan  </strong> <br />
        &nbsp; MA in Library & Information Science (DU) <br />
        &nbsp; MBA in Human Resources Management (IUB) <br />
        &nbsp; Deputy Librarian (Technical Services)<br />
        &nbsp; E-mail: <a href="khurshid@iub.edu.bd" target="_blank">khurshid@iub.edu.bd;</a> Phone Ext.: 2011

    </span>
</div>

<p>&nbsp;</p>

<p>
    <span style="font-size:10px">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">
            <img src="~/Images/kabir.jpeg" style="float:left" width="100" height="100" />

        </span>

    </span>
</p>
<div>
    <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">

        <strong>&nbsp;Mr. Mohammad Humayun Kabir </strong> <br />
        &nbsp;MA in Library & Information Science (DU) <br />
        &nbsp;MBA (IUB-MSM), MSS in Japanese Studies (DU) <br />
        &nbsp;Deputy Librarian (Reference Services) <br />
        &nbsp;E-mail: <a href="mhk@iub.edu.bd " target="_blank"> mhk@iub.edu.bd; </a> Phone Ext.: 2012

    </span>
</div>

<p>&nbsp;</p>

<p>
    <span style="font-size:10px">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">
            <img src="~/Images/akhter.jpg" style="float:left" width="100" height="100" />

        </span>

    </span>
</p>
<div>
    <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">

        <strong>&nbsp; Ms. Shahin Akhter</strong> <br />
        &nbsp; BA & MA in Information Science & Library Management (DU) <br />
        &nbsp; Assistant Librarian (Cataloguing and Purchase)<br />

        &nbsp; E-mail: <a href="shahin@iub.edu.bd" target="_blank">shahin@iub.edu.bd;</a>Phone Ext.: 2011

    </span>
</div>

<p>&nbsp;</p>

<p>
    <span style="font-size:10px">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">
            <img src="~/Images/ahsan.jpg" style="float:left" width="100" height="100" />

        </span>

    </span>
</p>
<div>
    <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">

        <strong>&nbsp; Mr. Md. Mubassir Ahsan</strong> <br />
        &nbsp; BA (Hons.) & MA in Library & Information Science (DU) <br />
        &nbsp; PGDCS (BIM), Diploma in Web & e-Commerce(DIIT) <br />
        &nbsp; Assistant Director (LIT) <br />
        &nbsp; E-mail: <a href="mubassir@iub.edu.bd " target="_blank"> mubassir@iub.edu.bd;</a> Phone Ext.: 2013

    </span>
</div>

